<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add req</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<div th:replace="header :: header"></div>

<div class="container mt-2">
    <div class="card mb-2">
        <div class="card-body">

            <form th:action="@{/addrequest}" method="post">

                <div class="mb-2">
                    <label class="form-label">Full name</label>
                    <input type="text" class="form-control" name="username" required>
                </div>

                <div class="mb-2">
                    <label for="course_id" class="form-label fw-bold">Course</label>
                    <select class="form-select" id="course_id" name="course_id" required>
                        <option value="" disabled selected>Select course</option>
                        <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}"></option>
                    </select>
                </div>

                <div class="mb-2">
                    <label class="form-label">Commentary</label>
                    <textarea class="form-control" name="commentary" rows="3" required></textarea>
                </div>

                <div class="mb-2">
                    <label class="form-label">Phone</label>
                    <input type="text" class="form-control" name="phone" required>
                </div>


                <button type="submit" class="btn btn-success">Add Request</button>

            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>